.panda{
  background-color: violet;
  padding: 65px;
  text-align: center;
}
.lone{
  background-color:teal;
  padding: 55px;
}
.alf//a{
  float:right;
}
.paddy{
  background-color: violet;
  padding: 55px
}
